$accentColor = darken(#68858F, 20%) // darken(#f6a42e, 15%)  // darken(#0078d7, 5%)
$textColor = #100804 // #123
$borderColor = #ddd
$codeBgColor = #282c34
$badgeTipColor = #7FBA00
$badgeWarningColor = #FCBC2B
$badgeErrorColor = #F25022
$blockquoteColor = #566;